/************************ tags style *********************/

body{
    background-color:#fefaf6;
    margin: 0;
    font-family: 'Assistant';
}

 h2{
    color: #22A39F; 
    font-size: 2em;
 }

 h3{
    color: #22A39F; 
    font-size: 1.2em;
 }
 h4{
    font-size: 1em;
    margin-bottom: 0;
}
p{
    margin-top: 5px;
}


 /************************ class style *********************/
 
 .cv{
    background-color: #F3EFE0;
    font-family: "Papyrus", Fantasy;
    color:#A0BCC2 ;
    text-align: center;
    height: 100%;
    }

    .wel{
        font-family: Indie Flower;
        font-size:  4em;
        padding-top: 15%;
        color: #A0BCC2; 
    }

    .iter{
        background-color: #fafafa;
        font-family: "Papyrus", Fantasy;
        color:#A0BCC2 ;
        text-align: center;
        height: 100%;
    }

    .containerpro{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .col{
        width: 200px;
        padding: 5px;
        height: auto;
        text-align: left;
        display: inline-block;
    }
    .col1{
        width: 250px;
        padding: 5px;
        height: auto;
        text-align: center;
        display: inline-block;
        color: #22A39F; 
    }
    .icon{
        display: inline-block;
        position: absolute;
        width: 7%;
        height: auto;
        min-width: 45px;
    }

    /************************ id selector *********************/

#profilepic{
    width: auto;
    height: 25%;
}
