/************************ tags style *********************/

body{
    background-color:#fefaf6;
    font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
}


 
 h1{
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #A0BCC2; 
 }
 
 h2{
    color: #22A39F; 
    font-size: 2em;
 }

 /************************ class style *********************/
 
 .cv{
     width: 90%;
     border-radius: 10px;
     background:linear-gradient(6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee;
     padding: 5px;
     margin-left: 5%;
     margin-top: 3%;
     margin-bottom: 3%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.123), 0 4px 8px 0 rgba(0, 0, 0, 0.123);
    }

    .wel{
        font-family: "Bradley Hand ITC", sans-serif;
        font-size:  4em;
        padding-top: 15%;
    }

    .iter{
        background-color: #fafafa;
        font-family: "Papyrus", Fantasy;
        color:#A0BCC2 ;
        text-align: center;
        height: 100%;
    }

    .containerpro{
        font-family: 'Open Sans', sans-serif ;
        height: 100%;
        padding: 40px 180px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        min-width: 350px;
    }

    .col{
        width: 30%;
        padding: 15px;
        height: auto;
        text-align: left;
        display: inline-block;
        box-sizing: content-box;
        min-width: 350px;
    }
    .col1{
        width: 30%;
        padding: 15px;
        height: auto;
        text-align: center;
        display: inline-block;
    }


    /************************ id selector *********************/

#profilepic{
    width: auto;
    height: 25%;
}
